VITE_SUPABASE_URL=https://exqcftmkkjcdakovsaox.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV4cWNmdG1ra2pjZGFrb3ZzYW94Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY2NDE5ODksImV4cCI6MjEwMjIxNzk4OX0.cERZf4KchG65c3UZOmtrUOdVE1TjHcXUdX02-YCsOXg
